streamlit
pandas
openai
google-generativeai
langchain
langchain-core
langchain-community
langchain-openai
langchain-google-genai
python-dotenv
pypdf
pyttsx3
SpeechRecognition
streamlit-oauth
streamlit-ace
